<!DOCTYPE html>
<html>

<head>
  <title>
    Hello World!
  </title>
</head>

<body>
  <div style="display: table; height: 100%; width:100%; margin: 15em">
    <div style="display: table-cell; vertical-align: middle; text-align:center;">
      <div class="t4">Album Art</div>
      <div class="t5">Sharable glimpes at your favorite artists</div>
      <button id="startButton" class="t3">START</button>
    </div>
  </div>
  
  <style type="text/css">
  #login {
    display: none;
  }

  #loggedin {
    display: none;
  }
</style>
<body>
 <div>
    <div id="login">
     <h1>First, log in to spotify</h1>
     <a href="/login">Log in</a>
    </div>
    <div id="loggedin">
    </div>
 </div>

 <script id="loggedin-template" type="text/x-handlebars-template">
    <h1>Logged in as </h1>
    <img id="avatar" width="200" src="" />
    <dl>
     <dt>Display name</dt><dd></dd>
     <dt>Username</dt><dd></dd>
     <dt>Email</dt><dd></dd>
     <dt>Spotify URI</dt><dd><a href=""></a></dd>
     <dt>Link</dt><dd><a href=""></a></dd>
     <dt>Profile Image</dt><dd></dd>
    </dl>
    <p><a href="/">Log in again</a></p>
 </script>
</body>

</html>
