<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div style="display: table; height: 100%; width:100%; margin: 15em auto; overflow: hidden;">
    <div style="display: table-cell; vertical-align: middle; text-align:center;">
      <div class="t4">Album Art</div>
      <div class="t5">Sharable glimpes at your favorite artists</div>
      <button id="startButton" class="t3">START</button>
    </div>
  </div>
</body>

</html>
